#input files
/input_bags
/input_imgs

#output files
/output_stereo

#mcap image encoder
/encoder

#pretrained ml models
/pretrained

#capnp dependencies
/vk_sdk

#monster core
/core

#depth anything core
/Depth-Anything-V2-list3

#Pycache
/__pycache__

#Recording script
auto_record.py

#Test Backups
/test_cases